.headerCust {
    background-color: rgba(0, 18, 45, 1);
}
@media (max-width: 1200px) {
    .headerCust{
        height: 90vh;
    }
}
@media (max-width: 768px) {
    .headerCust{
        height: 90vh;
    }
}

