.navCust{
    height: 140px;
    background-color: rgb(12, 37, 77);
}
.navContent{
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul, a{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}
.navLink {
    display: flex;
    flex-direction: row;
    gap: 80px;
    font-size: clamp(1rem, 0.85rem + 0.75vw, 1.75rem);
}
.navLink a {
  position: relative;
  color: rgb(255, 255, 255);
}

.navLink a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.navLink a:hover::after {
  width: 100%;
}

@media (max-width: 1200px) {
    .navCust{
        height: 100px;
    }
    .logoCust{
        width: 90px;
        height: 65px;
    }
    .navContent{
        padding: 15px 10px;
    }
    .navLink {
        gap: 20px;
    }
}
@media (max-width: 768px) {
    .logoCust{
        width: 75px;
        height: 65px;
    }
    .navLink {
        font-size: 14px;
        gap: 15px;
    }
}
@media (max-width: 576px) {
    .navLink{
        display: none;
    }
}